<!-- Footer Start-->
<div class="footer-area footer-padding">
    <div class="header-area">
        <div class="main-header ">
            <div class="header-top d-lg-block d-none">
                <div class="container">
                    <div class="col-xl-12">
                        <div class="row d-flex justify-content-between align-items-center">
                            <div class="header-info-left d-flex justify-content-center">
                                <!-- Social -->
                                <div class="header-social">
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="https://bit.ly/sai4ull"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                </div>
                            </div>
                            <div class="header-info-mid">
                                <!-- logo -->
                                <div class="logo">
                                    <a href="index.html"><img src="assets/img/logo/logo.png" alt=""></a>
                                </div>
                            </div>
                            <div class="header-info-right d-flex align-items-center">
                                <ul>
                                    <li><a href="{% url 'about:about'  %}">درباره ما</a></li>
                                    <li><a href="{% url 'contact:contact'  %}">تماس با ما</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-bottom header-bottom2 ">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-12">
                            <!-- Main-menu -->
                            <div class="main-menu text-center">
                                <nav>
                                    <ul>
                                        {% if categories %}
                                                {% for category in categories %}
                                                    <li><a href="{% url 'blog:article_category' category.slug %}">{{category.name}}</a></li>
                                                {% endfor %}
                                            {% endif %}
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- footer-bottom area -->
<div class="footer-bottom-area">
    <div class="container">
        <div class="footer-border">
            <div class="row align-items-center justify-content-center">
                <div class="col-xl-9 col-lg-8">
                    <div class="footer-copy-right text-center">
                        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved |
                            This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a
                                href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End-->