{% load render_partial %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock title %}</title>
    {% include 'accounts/admin_dashboard/header_referenced.html' %}
    <!-- End layout styles -->
    <link rel="shortcut icon" href="assets/images/favicon.png" />
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_sidebar.html -->
      {% render_partial 'accounts_app.views.dashboard_sidebar' %}
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        {% render_partial 'accounts_app.views.dashboard_header' %}
        <!-- partial:partials/_navbar.html -->
        <!-- partial -->
        {% block content %}{% endblock content %}
        {% render_partial 'accounts_app.views.dashboard_footer' %}
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    {% include 'accounts/admin_dashboard/footer_referenced.html' %}
  </body>
</html>