{% extends 'base/base.html' %}
{% block seo %}{% endblock seo %}
{% block title %}صفحه نتیجه بازیابی رمز عبور{% endblock title %}
{% block custom_css %}{% endblock custom_css %}
{% block content %}
<div class="page-notification">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a href="{% url 'base' %}">خانه</a></li>
                        <li class="breadcrumb-item">نتیجه بازیابی رمز عبور</li> 
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="login-form-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-8">
                <p class="alert alert-success">{{message}} <i class="fas fa-check"></i></p>
                <a class="button w-100 btn_1 boxed-btn" href="{% url 'accounts:login' %}">ورود</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block custom_js %}{% endblock custom_js %}